@charset "UTF-8";
/* CSS Document */

css-JONEGREEN


.大图{text-align: center;}

.主图{width:1430px;}

.导航栏{magin:0px auto;
	background-color:#58c0d1;
	vertical-align: middle;
	position:fixed;
	width:1420px;
	height:50px;

	text-align: center;}

#logo{width:50px;}

ul{display:inline-block;
	magin:10px auto;
	vertical-align: middle;
	position:relative;
	left:40px;
	top:-20px;
	text-align: center;
}
li{display:inline-block;
	margin-right: 135px;
	padding:10px 20px;
	text-align: center;}

li:hover{background-color:whitesmoke;
		color:black;}

a{text-decoration:none;
	color:white;}

a:hover{color:black;}

h1{color:#58c0d1;}

.JOHNGREEN1{magin:20px auto;
	text-align: center;
	width:1420px;}

.JOHNGREEN2{color:white;
	background-color: #58c0d1;
	width:1300px;
text-align: center;
margin:5px auto;}

img{width:400px;}

p{magin:20px auto;
	text-align: left;
	padding:20px 300px;
	line-height: 25px;
	width:800px;}